{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
</head>
<body>

{% block content %}
<div>
    <table>
        <tr>
            <th>Game</th>
        </tr>
    {% for game in games %}
        <tr>
            <td><a href="{{ url_for('game_overview', game=game) }}">{{game}}</a></td>
        </tr>
    {% endfor %}
    </table>
    <div>
        <form action="{{ request.path }}" method="POST">
            <div>
                <input type="text" name="game_name">
                <input type="submit" name="action" value="New game">
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <textarea id="ship_init_file"></textarea>
            </div>
        </form>
    </div>
</div>
{% endblock %}

</body>
</html>