{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<section>
    <h1>Admin</h1>
    <div id="admin_overview" class="info_grid">
        <span class="gamelink">Game Name</span>
        <span class="round_number">Round</span>
        <span class="ready_to_process">Ready</span>
        {% for game in games %}
        <a class="gamelink" href="{{ url_for('game_overview', game_name=game.name) }}">{{game.name}}</a>
        <span class="round_number">Round {{game.current_round_nr}}</span>
        <span class="ready_to_process">{% if game.current_round_ready %}<a href="{{ url_for('process_turn', game=game.name) }}">Process</a>{% endif %}</span>
        {% endfor %}
    </div>
    <div id="admin-new-game" class="info_grid">
        <h2>Create New Game</h2>
        <form action="{{ request.path }}" method="POST">
            <label for="game_name">Game Name</label>
            <input type="text" id="game_name" name="game_name">
            <label for="ship_init_file">Ships</label>
            <textarea id="ship_init_file" name="ship_init_file">Name Type Faction Player</textarea>
            <input type="submit" class="block" name="action" value="New game">
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</section>
{% endblock %}
