<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url('{{ url_for("static", filename="gfx/astronaut.jpeg") }}');
        }
    </style>
</head>
<body>
    <nav>
        <div id="game_name">
            Starship Arena
        </div>
        <div>
            <a href="/">Games</a></li>
        </div>
        <div>
            <a href="{{ url_for('ship_overview') }}">Ship Overview</a>
            <a href="{{ url_for('manual_pdf') }}">Manual</a>
            <a href="{{ url_for('lore') }}">Lore</a>
        </div>
        <div>
            <a href="{{ url_for('admin') }}">Admin</a>
        </div>
    </nav>
    <div id="content" class="main">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"/>
</body>
</html>
