{% extends 'base.html' %}

{% block title %}Game Overview: {{game}}{% endblock %}

{% block content %}
<h1>Overview</h1>
<h2>Game: {{game}} Round: {{round_nr}}</h2>
{% if all_command_files_ok %}
<div style="padding: 10px; background-color: darkgoldenrod; color: yellow;">
    Turn can be processed!
</div>
{% endif %}
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Player</th>
            <th colspan="{{round_nr + 1}}">Past rounds</th>
            <th>Command file?</th>
        </tr>
        {% for faction, ships in factions.items() %}
            <tr><td colspan="{{ round_nr + 4 }}">{{faction}}</td></tr>
            {% for ship in ships %}
            <tr>
                <td><a href="{{ url_for('plan_round', game=game, ship_name=ship.name) }}">{{ ship.name }}</a></td>
                <td>{{ ship.score }}</td>
                <td>{{ ship.player }}</td>
                {% for i in range(round_nr + 1) %}
                    <td><a href="{{ url_for('past_round', game=game, ship_name=ship.name, round=i) }}">Rd {{i}}</a></td>
                {% endfor %}
                <td {% if not command_file[ship.name] %}class="error">No{% else %}class="OK">Yes{% endif %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% if dead_ships %}
<div>
    <h1>Graveyard</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Player</th>
            <th colspan="{{round_nr}}">Past rounds</th>
        </tr>
        {% for ship in dead_ships %}
        <tr>
            <td>{{ ship.name }}</td>
            <td>{{ ship.score }}</td>
            <td>{{ ship.player }}</td>
            {% for i in range(ship.history.last_round + 1) %}
                <td><a href="{{ url_for('past_round', game=game, ship_name=ship.name, round=i) }}">Rd {{i}}</a></td>
            {% endfor %}
            <td colspan="{{ round_nr - ship.history.last_round + 1 }}"></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div>
    <h1>Honor system</h1>
    <table>
        <tr><td colspan="{{ round_nr + 3 }}">There is NO protection built in to prevent players to look at each other's results.<br/>
            We're working on an honor system: please make sure you only look at your own ships.<br/>
            When the round ends by all means browse around!</td>
        </tr>
        <tr><td colspan="{{ round_nr + 3 }}">It's fine to look at the output of your teammates,<br/>
            otherwise we'd be copy-pasting stuff anyway. Also if you are completely out of the game <br/>
            because all your ships are blown up, by all means have a look around, making<br/>
        sure not to give anything away to those still in the game.</td>
        </tr>
    </table>
</div>
{% endblock content %}
