{% extends 'base.html' %}

{% block title %}Starship Arena{% endblock %}

{% block content %}
<section>
    <h1>Running Games</h1>
    <div id="running_games_overview">
        <span class="gamelink">Game Name</span>
        <span class="round_number">Round</span>
        <span class="ready_to_process">Ready</span>
        {% for game in games %}
        <a class="gamelink" href="{{ url_for('game_overview', game_name=game.name) }}">{{game.name}}</a>
        <span class="round_number">Round {{game.current_round_nr}}</span>
        <span class="ready_to_process">{{"Yes" if game.current_round_ready else "No"}}</span>
        {% endfor %}
    </div>
</section>
{% endblock content %}
