{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starships Arena Lore</title>
</head>
<body>
{% block content %}
<h1>Starships Arena Lore</h1>

<p>
    Millenia in the future, war has followed humanity into the skies. Now, instead of fighting for land and power,
    humanity fights with other powerful races across the galaxy for ownership of entire planets. Some of these races
    fight for dominance and prestige, others fight for their very survival, but one thing is for sure – nobody will
    ever submit. The races of Starships Arena are battling over one thing –Planets rich in oxygen and liquid water,
    with survivable conditions to allow them to continue to grow and prosper in this brutal universe. They will do
    whatever it takes to gain control of planets for their species. Survival is not an option. Peace is not an option.
</p>

<h2>Anuran Alliance</h2>
<p>
    The alliance of amphibious races are permanently searching for wet, lush climates to reproduce on. Their
    populations swing between dwindling and exploding at an alarming rate as they decimate the resources of
    each planet with their enormous birth rates and the inherent need for huge amounts of flora and fauna to
    feed their young. They have short lifespans compared to other races and so the cycle continues in a desperately
    violent frenzy to capture and absorb more and more planets. Their ships are lightly shielded and fast moving
    with large batteries of powerful weaponry to ensure their victories swiftly with no precious time wasted.
</p>

<h2>Felidae</h2>
<p>
The Felidae live for the thrill of the hunt. Content with the food produced on their planets, they simply want more
    hunting grounds for their entertainment. Felidae planets are vicious places, ruled by an alpha-leader and steeped
    in thousands of years of violent history. Leadership is disorganized, with some rulers only living for mere days,
    but their intentions are clear: bigger prey brings greater prestige and honour among their peers, and so they will
    always hunt the biggest and most dangerous prey without fear or mercy. Felidae ships are very fast and can cloak,
    making them perfect for sneak attacks or laying complex traps for their prey.
</p>

<h2>Human</h2>
<p>
Humanity destroyed their original home planet over a relatively short period of time due to their industrious nature
    and they are no strangers to strife and desperation. Their desire to grow and expand is driven by the need to
    find resources and habitable land for their enormous populations, but also by their scientific curiosity, which
    shows in the technological superiority of their fleets. The ships of the human fleet are technologically advanced
    and come with a devastating array of useful abililities such as EMP weaponry and Gravscanners.
</p>

<h2>Insectoid</h2>
<p>
These curious creatures do not understand the political or recreational agendas of other races. They do not
    communicate well with the other species of the universe, and they work only to protect and grow their hive.
    Guided by a single entity known as the Royal Guardian, who can communicate with the entire hive instantaneously
    through their Psionic Link, they can perform complex military manoeuvres in perfect unison. A fleet of Insectoid
    vessels can strip a planet of all its resources in less than a solar year. Insectoid ships are gargantuan hive
    vessels. They move slowly though spavw and carry huge arrays of armaments and powerful shields, all performing
    in unison through the power of the Psionic Link.
</p>

<h2>Reptilia</h2>
<p>
The ferocious Reptilia are a xenophobic race of highly trained weapons of war. They are genetically perfect
    killing machines and have no interest in peace. On their home planet, genetic modification in birth centres is
    used to make each generation stronger, faster and smarter. To them, there is only one acceptable outcome in the
    great war. Total annihilation of their foes. Reptilian ships are heavily armed with Splinter weapon technology
    designed to ensure the guaranteed destruction of their foes with no mercy. Once you’re in a reptilian ships
    sights, escape is almost impossible.
</p>
{% endblock %}
</body>
</html>