{% extends 'base.html' %}

{% block title %}Plan Round{% endblock %}

{% block content %}
<div>
    {% include 'round-nav-block.html' %}
</div>
<h1>{{ ship.name }}: plan next round</h1>
<h2>Plan</h2>
<div id="planning">
    <div id="feedback">
        {% for command in commands %}
            <div class="feedback_item {% if command[0] %}ok">{% else %}error">{% endif %}
                {{ command[1] }}
                {% for feedback in command[2] %}
                    <br/>- {{feedback}}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="planning_form">
        <form action="{{ request.path }}" method="POST" autocomplete="off">
            <!-- have to put the textarea on one line to prevent crap in the box -->
            <textarea id="commands" name="commands" rows="10" cols="80">{% for command in commands -%}{{ command[1] }}{{ "\n" }}{%- endfor %}</textarea>
            <div id="buttons">
                <input type="submit" name="action" value="Check"/>
                <input type="submit" name="action" value="Save"/>
                {{ message }}
            </div>
        </form>
    </div>
    <div id="explanation">
        <pre>
(x = tick number)
x: A-{{ ship._type.max_delta_v }}..A{{ ship._type.max_delta_v }} (Accelerate)
---
x: R-{{ ship._type.max_turn }}..R{{ ship._type.max_turn }} (Turn Right)
x: L-{{ ship._type.max_turn }}..L{{ ship._type.max_turn }} (Turn Left)
x: Activation (component) (on/off)
--- Ship Moves
x: Fire (missile launcher) (direction)
x: Fire (laser) (target)
x: Scan (scanner) (direction) (scan cone)
x: Replenish
x: Boost (N/S/E/W) (amount)
        </pre>
    </div>
</div>
<div>
    {% include 'ship-status-block.html' %}
</div>
<div>
    <h2>Previous Turn</h2>
    <img src="{{ url_for('turn_picture', game=game, ship_name=ship.name, round=ship.history.last_round) }}" max-width="100%"/>
    <h2>Last Scans</h2>
    {% if ship.history[ship.history.last].scans %}
        <table class="small-text">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Distance</th>
            <th>Direction (Rel)</th>
            <th>Heading (Abs)</th>
        </tr>
        {% for scan in ship.history[ship.history.last].scans %}
            <tr>
                <td>{{scan.name}}</td>
                <td>{{scan.pos.as_tuple}}</td>
                <td>{{scan.distance}}</td>
                <td>{{scan.direction}}</td>
                <td>{{scan.heading}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
