{% block ship %}
<div id="ship">
    <h1>{{ ship.name }}: Round {{ round }}</h1>
    <div><b>Score</b>&nbsp;{{ ship.score }}</div>
    <div><b>Ship Type</b>&nbsp;{{ ship._type.name }}</div>
    <br/>
    <img src="{{ url_for('turn_picture', game=game, ship_name=ship.name, round=round) }}" max-width="100%"/>

    {% include 'ship-status-block.html' %}

    <h2>Scans</h2>
    {% if not ship.history[ship.history.last].scans %}
        <p>No scans on last tick.</p>
    {% else %}
        <div class="scans info_grid">
            <span class="name header">Name</span>
            <span class="position header">Position</span>
            <span class="distance header">Distance</span>
            <span class="direction_rel header">Direction (Rel)</span>
            <span class="heading_abs header">Heading (Abs)</span>
            {% for scan in ship.history[ship.history.last].scans_sorted_by('distance') %}
                <span class="name">{{scan.name}}</span>
                <span class="position">{{scan.pos.as_tuple}}</span>
                <span class="distance">{{scan.distance}}</span>
                <span class="direction_rel">{{scan.direction}}</span>
                <span class="direction_abs">{{scan.heading}}</span>
            {% endfor %}
        </div>
    {% endif %}

    {% if start_tick.round > 0 %}
        <h2>Commands</h2>
        <p>
        {% for c in commands %}
            {{c}}<br/>
        {% endfor %}
        </p>

        <h2>Events</h2>
        {% for tick in start_tick.ticks_for_round %}
            {% if ship.history.get(tick, None) %}
                <h3>Tick {{tick.tick}} (Score {{ ship.history[tick].hit_score }})</h3>
                <p>
                {% for e in ship.history[tick].non_scan_events %}
                    {{e}}<br/>
                {% endfor %}
                </p>
                {% if ship.history[tick].scans %}
                    <em class="collapsible">Scans</em>
                    <div class="scans collapsed-content info_grid">
                        <span class="name header">Name</span>
                        <span class="position header">Position</span>
                        <span class="distance header">Distance</span>
                        <span class="direction_rel header">Direction (Rel)</span>
                        <span class="heading_abs header">Heading (Abs)</span>
                        {% for scan in ship.history[tick].scans_sorted_by('distance') %}
                            <span class="name">{{scan.name}}</span>
                            <span class="position">{{scan.pos.as_tuple}}</span>
                            <span class="distance">{{scan.distance}}</span>
                            <span class="direction_rel">{{scan.direction}}</span>
                            <span class="direction_abs">{{scan.heading}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "grid") {
      content.style.display = "none";
    } else {
      content.style.display = "grid";
    }
  });
}
</script>

{% endblock ship %}