{% block ship_status %}
<h2>Status</h2>
<div id="ship_status">
    <div id="position">
        <label>Position</label>
        <span class="position">{{ ship.pos.as_tuple }}</span>
    </div>
    <div id="heading">
        <label>Heading</label>
        <span class="heading">{{ ship.heading }} |{{ ship._type.max_turn }}|</span>
    </div>
    <div id="speed">
        <label>Speed</label>
        <span class="speed">{{ ship.speed }}/{{ ship._type.max_speed }} |{{ship._type.max_delta_v }}|</span>
    </div>
    <div id="hull">
        <label>Hull</label>
        <span class="hull">{{ ship.hull }}/{{ ship._type.max_hull }}</span>
    </div>
    <div id="battery">
        <label>Battery</label>
        <span class="battery">{{ ship.battery }}/{{ ship._type.max_battery }}</span>
    </div>
    {% for component in ship.defense %}
    <div id="defense">
        <label>{{ component.name }}</label>
        <span class="defense">{% for stat_name, stat_value in component.status.items() %}{{ stat_name }} ({{ stat_value }}) {% endfor %}</span>
    </div>
    {% endfor %}
</div>
<div id="ship_components">
    {% for component in ship.weapons.values() %}
    <label>{{ component.name }}</label>
    <div class="component_stats">
        {% for stat_name, stat_value in component.status.items() %}
        <span class="component_stat">
            <label>{{ stat_name }}</label>
            <span class="stat_value">({{ stat_value }})</span>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<br/>
<table>
    {% for component in ship.ecm.values() %}
    <tr>
        <td><b>{{ component.name }}</b></td>
        <td colspan="3">{% for stat_name, stat_value in component.status.items() %}{{ stat_name }} ({{ stat_value }}) {% endfor %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock ship_status %}