{% extends 'base.html' %}

{% block title %}Ship Overview{% endblock %}

{% block content %}
<h2>Ships</h2>

<p>Ships are player-controlled war machines. They come in different configurations.</p>

{% for st in ship_types %}
<h3>{{ st.name }}</h3>

<div class="info_grid ship_overview">
    <div class="ship_attribute">
        <label>Speed</label>
        <span class="attribute_value">{{st.max_speed}}</span>
    </div>
    <div class="ship_attribute">
        <label>Turn</label>
        <span class="attribute_value">{{st.max_turn}}</span>
    </div>
    <div class="ship_attribute">
        <label>Acceleration</label>
        <span class="attribute_value">{{st.max_delta_v}}</span>
    </div>
    <div class="ship_attribute">
        <label>Hull</label>
        <span class="attribute_value">{{st.max_hull}}</span>
    </div>
    <div class="ship_attribute">
        <label>Battery</label>
        <span class="attribute_value">{{st.start_battery}}/{{st.max_battery}}</span>
    </div>
    <div class="ship_attribute">
        <label>Generators</label>
        <span class="attribute_value">{{st.generators}}</span>
    </div>
    <div class="ship_attribute">
        <label>Scan Distance</label>
        <span class="attribute_value">{{st.max_scan_distance}}</span>
    </div>
</div>
<div class="info_grid component_overview">
    <label>Defense</label>
    {% for d in st.defense %}
        <span class="defense_description">{{d.description}}</span>
    {% endfor %}
</div>
{% if st.ecm %}
    <div class="info_grid component_overview">
        <label>ECM</label>
        {% for e in st.ecm %}
            <span class="component_name">{{e.name}}</span>
            <span class="component_description">{{e.description}}</span>
        {% endfor %}
    </div>
{% endif %}
<div class="info_grid component_overview">
    <label>Weapons</label>
    {% for w in st.weapons %}
    <span class="component_name">{{w.name}}</span>
    <span class="component_description">{{w.description}}</span>
    {% endfor %}
</div>
{% endfor %}

<h2>Starbases</h2>

<p>Starbases can not move, but they have powerful weapons and defense, and can replenish ships that fly within the
    maximum replenish distance and speed, and then give the Replenish command.</p>

{% for sbt in starbase_types %}
<h3>{{ sbt.name }}</h3>
<table>
    <tr>
        <td>Replenish distance</td>
        <td>Replenish speed</td>
        <td>Hull</td>
        <td>Battery</td>
        <td>Generators</td>
        <td>Scan Distance</td>
    </tr>
    <tr>
        <td>{{sbt.max_replenish_distance}}</td>
        <td>{{sbt.max_replenish_speed}}</td>
        <td>{{sbt.max_hull}}</td>
        <td>{{sbt.start_battery}}/{{sbt.max_battery}}</td>
        <td>{{sbt.generators}}</td>
        <td>{{sbt.max_scan_distance}}</td>
    </tr>
    <tr>
        <td colspan="3"><b>Weapons</b></td>
        <td colspan="3"><b>Defense</b></td>
    </tr>
    <tr>
        <td colspan="3">
            {% for w in sbt.weapons %}
            {{w.name}}: {{w.description}}<br/>
            {% endfor %}
        </td>
        <td colspan="3">
            {% for d in sbt.defense %}
            {{d.description}}<br/>
            {% endfor %}
        </td>
    </tr>
    {% if sbt.ecm %}
    <tr>
        <td colspan="6"><b>ECM</b></td>
    </tr>
    <tr>
        <td colspan="6">
        {% for e in sbt.ecm %}
            {{e.name}}: {{e.description}}<br/>
        {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>
{% endfor %}

{% endblock content %}
