    <style>
        html * {
           font-family: Helvetica, sans-serif;
        }
        table {
            width: 100%
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        table.small-text td {
            font-size: 0.6em;
        }
        th {
            text-align: left;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .pagebreak {
            page-break-before: always;
        }
        .code-style {
            font-family: monospace;
            font-size: 0.85em;
        }
    </style>
