/* General stuff */

* {
    color: white;
    background-color: black;
    font-family: "Raleway", sans-serif;
}

h1,h2,h3,h4,h5 {
    background-color: #1f1f1f;
    width: 100%;
}

a {
    color: lightblue;
}

/* Style page content */

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0 10px;
    width: calc(100% - 180px);
}

.info_grid {
    display: grid;
    width: auto;
    row-gap: 15px;
    column-gap: 15px;
    background-color: #000;
}

#running_games_overview, #admin_overview {
    grid-template-columns: max-content max-content auto;
    padding: 10px;

    .gamelink {
        grid-column: 1;
    }
    .round_number {
        grid-column: 2;
    }
    .ready_to_process {
        grid-column: 3;
    }
}

#admin-new-game {
    label {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    textarea {
        margin-top: 5px;
        width: 300px;
        height: 100px;
    }

    .block {
        display: block;
    }
}

#game_overview {
    grid-template-columns: max-content max-content max-content max-content max-content;
    padding: 20px 20px 30px 10px;
    border-bottom: #f1f1f1 solid 1px;

    .header {
        border-bottom: #f1f1f1 solid 1px;
        padding-bottom: 5px;
    }

    .name {
        grid-column: 1;
    }
    .score {
        grid-column: 2;
    }
    .player {
        grid-column: 3;
    }
    .past-rounds {
        grid-column: 4;
    }
    .command_file_ready {
        grid-column: 5;
        text-align: center;
    }
}

#graveyard {
    grid-template-columns: max-content max-content max-content max-content;
    padding: 20px 20px 30px 10px;
    border-bottom: #f1f1f1 solid 1px;

    .header {
        border-bottom: #f1f1f1 solid 1px;
        padding-bottom: 5px;
    }

    .name {
        grid-column: 1;
    }
    .score {
        grid-column: 2;
    }
    .player {
        grid-column: 3;
    }
    .past-rounds {
        grid-column: 4;
    }
}

#ship_status {
    grid-template-columns: repeat(3, max-content);

    label {
        font-weight: bold;
    }

    #position {
        grid-column: 1;
    }
    #heading {
        grid-column: 2;
    }
    #speed {
        grid-column: 3;
    }
    #hull {
        grid-column: 1;
    }
    #battery {
        grid-column: 2;
    }
    #defense {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

#ship_components {
    grid-template-columns: repeat(4, max-content max-content);
    grid-auto-flow: row;
    margin-top: 20px;
    row-gap: 10px;

    .component_stat {
        display: block;
    }
    label {
        font-weight: bold;
    }
    .component_stat {
        display: block;
    }
}

.scans {
    grid-template-columns: max-content max-content max-content max-content max-content;
    row-gap: 5px;
    padding: 20px 20px 30px 10px;
    border-bottom: #f1f1f1 solid 1px;

    .header {
        border-bottom: #f1f1f1 solid 1px;
        padding-bottom: 5px;
    }

    .name {
        grid-column: 1;
    }
    .position {
        grid-column: 2;
    }
    .distance {
        grid-column: 3;
        text-align: right;
    }
    .direction_rel {
        grid-column: 4;
        text-align: right;
    }
    .direction_abs {
        grid-column: 5;
        text-align: right;
    }
}

/* Collapsible Scans */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    display: block;
    width: 100%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
    color: black;
}

/* Style the collapsible content. Note: hidden by default */
.collapsed-content {
    display: none;
    overflow: hidden;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: left;
    margin-right: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.error {
    background-color: darkred;
    color: white;
}

.ok {
    background-color: darkgreen;
    color: white;
}

#round_nav {
    padding: 10px;
    background-color: black;
}