html * {
    /* background-color: black; */
    color: white;
}

html,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}

a {
    color: lightblue;
}

nav {
    width: 150px;
    float: left;
    padding: 5px;
}

nav li {
    background-color: black;
}

td {
    border-width: 5px;
    border-color: yellow;
    background-color: black;
}

#content {
    margin-left: 150px
}

td .error {
    background-color: red;
    color: white;
}

td .ok {
    background-color: green;
    color: white;
}

textarea {
    background-color: black;
}

input {
    background-color: blue;
}

#round_nav {
    padding: 10px;
    background-color: black;
}