<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.bundle.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        background-image: url('{{ url_for("static", filename="gfx/astronaut.jpeg") }}');
    }
</style>
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('ship_overview') }}">Ship Overview</a></li>
        <li><a href="{{ url_for('manual_pdf') }}">Manual</a></li>
    </ul>
</nav>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">{% block footer %}{% endblock %}</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"/>
</body>
</html>
