{% extends './templates/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Game Overview: {{game}}{% endblock %}</title>
</head>
<body>
{% block content %}
<h1>Overview of game {{game}} Round {{round_nr}}</h1>
<div>
    {% if all_command_files_ok %}<a href="{{ url_for('process_turn', game=game) }}">PROCESS TURN IF YOU DARE</a>{% endif %}
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Player</th>
            <th colspan="{{round_nr}}">Past rounds</th>
            <th>Command file?</th>
        </tr>
        {% for faction, ships in factions.items() %}
            <tr><td colspan="{{ round_nr + 3 }}">{{faction}}</td></tr>
            {% for ship in ships %}
            <tr>
                <td><a href="{{ url_for('plan_round', game=game, ship_name=ship.name) }}">{{ ship.name }}</a></td>
                <td>{{ ship.player }}</td>
                {% for i in range(round_nr) %}
                    <td><a href="{{ url_for('past_round', game=game, ship_name=ship.name, round=i) }}">Rd {{i}}</a></td>
                {% endfor %}
                <td {% if not command_file[ship.name] %}class="error">No{% else %}class="OK">Yes{% endif %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% if dead_ships %}
<div>
    <h1>Graveyard</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Player</th>
            <th colspan="{{round_nr}}">Past rounds</th>
        </tr>
        {% for ship in dead_ships %}
        <tr>
            <td>{{ ship.name }}</td>
            <td>{{ ship.player }}</td>
            {% for i in range(ship.history.last_round + 1) %}
                <td><a href="{{ url_for('past_round', game=game, ship_name=ship.name, round=i) }}">Rd {{i}}</a></td>
            {% endfor %}
            <td colspan="{{ round_nr - ship.history.last_round }}"></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div>
    <h1>Honor system</h1>
    <table>
        <tr><td colspan="{{ round_nr + 3 }}">There is NO protection built in to prevent players to look at each other's results.<br/>
            We're working on an honor system: please make sure you only look at your own ships.<br/>
            When the round ends by all means browse around!</td>
        </tr>
    </table>
</div>
{% endblock content %}
</body>
</html>