<!DOCTYPE html>
<html lang="en">
<head>
    <title>Round {{ round }} report for {{ ship.name }}</title>
    {% include 'styling.html' %}
</head>

<body>
    <h1>{{ ship.name }}: Round {{ round }}</h1>
    <table>
        <tr>
            <td><b>Score</b></td><td>{{ ship.score }}</td>
            <td><b>Ship Type</b></td><td>{{ ship._type.name }}</td>
        </tr>
    </table>
    <br/>
    <img src="{{ image_file_name }}" max-width="100%"/>

    <h2>Status</h2>
    <table>
        <tr>
            <td><b>Position</b></td><td>{{ ship.pos.as_tuple }}</td>
            <td><b>Heading</b></td><td>{{ ship.heading }}</td>
            <td><b>Speed</b></td><td>{{ ship.speed }}/{{ ship._type.max_speed }}</td>
        </tr>
        <tr>
            <td><b>Hull</b></td><td>{{ ship.hull }}/{{ ship._type.max_hull }}</td>
            <td><b>Battery</b></td><td>{{ ship.battery }}/{{ ship._type.max_battery }}</td>
            <td colspan="2"></td>
        </tr>
        {% for component in ship.defense %}
        <tr>
            <td><b>{{ component.name }}</b></td>
            <td colspan="5">{% for stat_name, stat_value in component.status.items() %}{{ stat_name }} ({{ stat_value }}) {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
    <br/>
    <table>
        {% for component in ship.weapons.values() %}
        <tr>
            <td><b>{{ component.name }}</b></td>
            <td colspan="3">{% for stat_name, stat_value in component.status.items() %}{{ stat_name }} ({{ stat_value }}) {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
    <br/>
    <table>
        {% for component in ship.ecm.values() %}
        <tr>
            <td><b>{{ component.name }}</b></td>
            <td colspan="3">{% for stat_name, stat_value in component.status.items() %}{{ stat_name }} ({{ stat_value }}) {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Scans</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Distance</th>
            <th>Direction (Rel)</th>
            <th>Heading (Abs)</th>
        </tr>
        {% if not final_scans %}
        <tr>
            <td colspan="5">No end of round scans</tdc>
        </tr>
        {% endif %}
        {% for scan in final_scans %}
        <tr>
            <td>{{scan.name}}</td>
            <td>{{scan.pos.as_tuple}}</td>
            <td>{{scan.distance}}</td>
            <td>{{scan.direction}}</td>
            <td>{{scan.heading}}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Events</h2>

    {% for tick in start_tick.ticks_for_round %}
        <h3>Tick {{tick.abs_tick - start_tick.abs_tick}} (Score {{ ship.history[tick].hit_score }})</h3>
        <p>
        {% for e in ship.history[tick].events %}
            {{e}}<br/>
        {% endfor %}
        </p>
        {% if ship.history[tick].scans %}
            <table class="small-text">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Distance</th>
                <th>Direction (Rel)</th>
                <th>Heading (Abs)</th>
            </tr>
            {% for scan in ship.history[tick].scans %}
                <tr>
                    <td>{{scan.name}}</td>
                    <td>{{scan.pos.as_tuple}}</td>
                    <td>{{scan.distance}}</td>
                    <td>{{scan.direction}}</td>
                    <td>{{scan.heading}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
</body>
</html>