<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Arena: The Game Starts</title>
    {% include 'styling.html' %}
</head>
<body>

<h1>Welcome to Space Arena</h1>

<p>This game is a recreation of an old Play-By-Mail game from 1991. In this game teams of space ships battle
each other in a 2D arena. The game is a simulation where players all send in their orders before a round is
processed. A round consists of 10 clock <i>ticks</i> and the results of the players' commands gets processed
into a result output (HTML & PDF). Each ship receives their own result based on what they observed. This
information is used to plan the next round and send in new orders, and the cycle continues until there is a
winner.</p>

<h1>Your opponents</h1>
<table>
    <tr>
        <th>Player</th>
        <th>Ship</th>
        <th>Type</th>
    </tr>
    {% for s in ships %}
    <tr>
        <td>{{ s.player }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s._type.name }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagebreak"></div>

<h1>Your Ship: {{ ship.name }}</h1>
<h2>Status</h2>
<table>
    <tr>
        <td><b>Position</b></td><td>{{ ship.pos }}</td>
        <td><b>Heading</b></td><td>{{ ship.heading }}</td>
        <td><b>Speed</b></td><td>{{ ship.speed }}/{{ ship._type.max_speed }}</td>
    </tr>
    <tr>
        <td><b>Battery</b></td><td colspan="5">{{ ship.battery }}/{{ ship._type.max_battery }}</td>
    </tr>
    <tr>
        <td><b>Hull</b></td><td>{{ ship.hull }}/{{ ship._type.max_hull }}</td>
        <td><b>Shields</b></td><td colspan="3">{{ ship.defense[0].strengths }}</td>
    </tr>
    {% for weapon in ship.weapons.values() %}
    <tr>
        <td><b>{{ weapon.name }}</b></td>
        <td colspan="5">{% for stat_name, stat_value in weapon.status.items() %}{{ stat_name }} ({{ stat_value }}) {% endfor %}</td>
    </tr>
    {% endfor %}
</table>

<h2>Scans</h2>

<img src="{{ image_file_name }}" max-width="100%"/>

<table>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Distance</th>
        <th>Direction (Rel)</th>
        <th>Heading (Abs)</th>
    </tr>
    {% for scan in scans %}
    <tr>
        <td>{{scan.name}}</td>
        <td>{{scan.pos}}</td>
        <td>{{scan.distance}}</td>
        <td>{{scan.direction}}</td>
        <td>{{scan.heading}}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>