{% block ship %}
<div id="ship">
    <h1>{{ ship.name }}: Round {{ round }}</h1>
    <table>
        <tr>
            <td><b>Score</b></td><td>{{ ship.score }}</td>
            <td><b>Ship Type</b></td><td>{{ ship._type.name }}</td>
        </tr>
    </table>
    <br/>
    <img src="{{ url_for('turn_picture', game=game, ship_name=ship.name, round=round) }}" max-width="100%"/>

    {% include './templates/ship-status-block.html' %}

    <h2>Scans</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Distance</th>
            <th>Direction (Rel)</th>
            <th>Heading (Abs)</th>
        </tr>
        {% if not ship.history[ship.history.last].scans %}
        <tr>
            <td colspan="5">No scans on last tick.</td>
        </tr>
        {% endif %}
        {% for scan in ship.history[ship.history.last].scans %}
        <tr>
            <td>{{scan.name}}</td>
            <td>{{scan.pos.as_tuple}}</td>
            <td>{{scan.distance}}</td>
            <td>{{scan.direction}}</td>
            <td>{{scan.heading}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if start_tick.round > 0 %}
        <h2>Events</h2>
        {% for tick in start_tick.ticks_for_round %}
            <h3>Tick {{tick.tick}} (Score {{ ship.history[tick].hit_score }})</h3>
            <p>
            {% for e in ship.history[tick].non_scan_events %}
                {{e}}<br/>
            {% endfor %}
            </p>
            {% if ship.history[tick].scans %}
                <table class="small-text">
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Distance</th>
                    <th>Direction (Rel)</th>
                    <th>Heading (Abs)</th>
                </tr>
                {% for scan in ship.history[tick].scans %}
                    <tr>
                        <td>{{scan.name}}</td>
                        <td>{{scan.pos.as_tuple}}</td>
                        <td>{{scan.distance}}</td>
                        <td>{{scan.direction}}</td>
                        <td>{{scan.heading}}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock ship %}