    <style>
        html * {
           font-family: Helvetica, sans-serif;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;

        }
        table.small-text td {
            font-size: 0.6em;
        }
        th {
            text-align: left;
        }
        img {
            max-width: 100%
        }
        .pagebreak {
            page-break-before: always;
        }
    </style>
